/* src/Components/Footer/Footer.css */
.footer {
    background-color: #202020;
    color: white;
    padding: 40px 8% 0px 8%;
}
.footer .container {
    padding: 0 8%; /* Estilo responsive para padding lateral */
}
.footer h2{
    font-size: 32px;
    color: orangered;
}  
.footer h5 {
    margin-top: 20px;
    margin-bottom: 10px;
} 
.footer p, .footer ul, .footer li, .footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}  
.footer a:hover {
    text-decoration: underline;
}  
.footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.columContainer{
    margin-bottom: 40px;
}  
@media (max-width: 768px) {
    .footer .container {
      padding: 0 5%;
    }    
    .footer .text-md-start, .footer .text-md-end {
      text-align: center !important;
    }
}
  