.aboutAndinos {
    background-color: black;
    padding: 80px 9% 40px 9% !important;
}  
.overlayAboutAndinos {
    display: flex;
    align-items: center;
    justify-content: center;
}  
.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}  
.row {
    display: flex;
    align-items: center;
    justify-content: center; 
}  
.columAbout {
    height: 500px; /* Altura fija de 500px en pantallas de escritorio */
    width: 45%; /* Ocupa el 45% del espacio disponible */
    padding: 0 !important;
}  
.columOneAbout {
    overflow: hidden;
    width: 100%;
}  
.columOneAbout img {
    height: auto;
    width: 100%;
    object-fit: cover;
}  
.columTwoAbout {
    background-color: #202020;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margin */
    height: 500px; /* Altura fija de 500px en pantallas de escritorio */
}  
.tittleContainer,
.textContainer,
.hoursContainer,
.btnContainer {
    width: 90%; /* Ancho del contenido */
}
.tittleContainer{
    margin-top: 30px;
    margin-bottom: 20px;
}
.tittleContainer h3 {
    color: #fff;
    font-size: 36px;
    margin: 0;
} 
.textContainer{
    margin-bottom: 10px;
}
.hoursContainer{
    margin-top: 10px;
    margin-bottom: 20px;
}
.textContainer p,
.hoursContainer p {
    color: #fff;
    font-size: 19px;
    margin: 0;
}  
.btnContainer{
    margin-top: 10px;
    margin-bottom: 30px;
}
.btnContainer button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}  
.btnCustom{
    border: transparent 2px solid !important;
    width: 100px;
    height: 40px;
    background-color: orangered !important;
    color: #fff !important;
    transition: 0.1s ease;
}
.btnCustom:hover{
    border: 2px solid #fff !important;
}
@media (max-width: 768px) {
    .row {
      flex-direction: column; /* Cambia la dirección de las columnas en dispositivos móviles */
    }
    .columAbout {
      width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
      height: auto; /* Altura automática en dispositivos móviles */
    }
    .columTwoAbout {
      height: auto; /* Altura automática en dispositivos móviles */
    }
}
  