.aboutAndinos{
    background-image: url("../../../../assets/Img/ImgHome/Img-About-3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.overlayAboutAndinos{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top , black , rgba(0,0,0,0.85)95%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.andinosContainer{
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.columAbout{
    height: 400px;
    width: 40%;
}
.columOneAbout{
    background-image: url("../../../../assets/Img/ImgHome/Img-About-2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.ovelayImg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.columTwoAbout{
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tittleContainer{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.tittleContainer h3{
    color: #fff;
    font-size: 36px;
    margin: 0;
    padding: 0;
}
.textContainerAbout{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.textContainerAbout{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #fff;
}
.hoursContainer{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.hoursContainer p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #fff;
}
.btnContainerAbout{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.btnContainerAbout button{
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
}
.btnContainerAbout button p{
    color: #FB6501;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    transition: 0.2s ease;
}
.btnContainerAbout button p:hover{
    text-decoration: underline;
}