.ServicesContainer{
    background-color: black;
    padding: 80px 8% !important; 
}
.tittleContainerServices{
    padding: 0;
    border-bottom: 2px solid orangered;
    margin-bottom: 60px
}
.tittleContainerServices h2{
    color: #fff;
}
.imgContainers{
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgContainer img{
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid orangered;
}
.description{
    color: orangered;
    font-size: 24px;
    font-weight: 500;
}